<!DOCTYPE html>

<head>
    <title>Parks</title>
    <link rel='stylesheet' href=Panel_Styles.css>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="hey.js" defer></script>
</head>

<body>
    <div class="container_contents">
        <div class="container_legend">
            <div class=loc_box>
                Binus ASO Alam Sutera
            </div>
            <div class=QR_box>
                <img src="map-QR.png" width="100%" height="100%">
            </div>
            <div class=status_box>
                <div class="legend-text">
                    <div class="icon-text">
                        <img src="check.svg" height=5% width=5%/>
                        <span>Available</span>
                    </div>
                    <div class="empty black">
                    </div>
                </div>
                <div class="legend-text">
                    <div class="icon-text">
                        <img src="error.svg" height=5% width=5%/>
                        <span>Searching</span>
                    </div>
                    <div class="searching black">
                    </div>
                </div>
                <div class="legend-text">
                    <div class="icon-text">
                        <img src="remove.svg" height=5% width=5%/>
                        <span>Occupied</span>
                    </div>
                    <div class="occupied black">
                    </div>
                </div>

            </div>
        </div>
        
        <div class=map id="map">
            <img src="map1.png" width="90%" height="90%">
            <div id="spot spot1" class="spot spot1"></div>
            <div id="spot spot2" class="spot spot2"></div>
            <div id="spot spot3" class="spot spot3"></div>
            <div id="spot spot4" class="spot spot4"></div>
            <div id="left_ud" class="nav_ud left_ud"></div>
            <div id="right_ud" class="nav_ud right_ud"></div>
        </div>
        <div class=mini_status_box>
            <div class="legend-text">
                <div>
                    <img src="check.svg" height=200% width=200%/>
                </div>
                <div class=empty>
                </div>   
            </div>   
            <div class="legend-text">         
                <div>
                    <img src="error.svg" height=200% width=200%/>
                </div>
                <div class=searching>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
