<!DOCTYPE html>

<head>
    <title>Parking Guide</title>
    <link rel='stylesheet' href=Phone_Styles.css>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class=loc_box>
        Miniatur Tempat Parkir
    </div>
    <div class=mini_status_box>
        <div class=empty>
        </div>
        <div>
            <img src="check.svg" height=80% width=100%>
            <br>
        </div>
        <div class=searching>
        </div>
        <div>
            <img src="error.svg" height=80% width=100%>
            <br>
        </div>
    </div>
    <div class=status_box>
        <div>
            <img src="check.svg" height=80% width=100%>
            <br>
        </div>
        <div>
            Tempat Kosong
        </div>
        <div class=empty>
        </div>
        <div>
            <img src="error.svg" height=80% width=100%>
            <br>
        </div>
        <div>
            Kendaraan Belum Parkir
        </div>
        <div class=searching>
        </div>
        <div>
            <img src="remove.svg" height=80% width=100%>
            <br>
        </div>
        <div>
            Tempat Terisi
        </div>
        <div class=occupied>
        </div>
    </div>
    <div class=map>
        <img src="map.png" width="100%" height="100%">
        <div id="spot1"></div>
        <div id="spot2"></div>
        <div id="spot3"></div>
        <div id="spot4"></div>
        <div id="spot5"></div>
    </div>
</body>

</html>
